html,
body {
    height: 100%;
    width: 100%;
    background-color: #29738e; /*snorlax's color hehe*/
}

/*index.html*/
#scoreOntop{
    position: fixed;
    z-index: 10; /*stack order of element, can only be used on positioned elements, this is so its over the content*/
    color: white;
    right: 10px;
    top: 10px;
    margin: 0;
}

/*instructions.html*/
#back {
    float: none;
    color:#f1e5d8;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4ms;
}

#back:hover {
    color:#7f6f62;
}

#instructions{
    background-color: #f1e5d8;
    width: 70%;
    float: center;
    border-block-style: solid;
    border-block-color: #7f6f62;
    margin:auto;
}

#instructionText{
    margin: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*intro.html*/
#heading {
    text-align: center;
    font-size: 300%;
    color: white;
}
#btns {
    width:60%;
    padding: 16px 32px;
    color:#29738e;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px auto;
    display: block;
    cursor: pointer;
    background-color: white;
    border: 1px solid #07758c;
    transition-duration: 0.4s;
  }

  #btns:hover {
    background-color: #6096aa;
    color: white;
  }

  #coverart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

/*nibbles.html*/
#threat {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
}

#threatDiv{
    background-color: #f1e5d8;
    width: 90%;
    border-block-style: solid;
    border-block-color: #7f6f62;
}

#backThreat {
    line-height: 20%;
    width: 20%;
    padding: 16px 32px;
    color:whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px auto;
    display: block;
    cursor: pointer;
    background-color: #7f6f62;
    border: 1px solid #07758c;
    transition-duration: 0.4s;
}

