html,
body {
    height: 100%;
    width: 100%;
    background-color: #29738e; /*snorlax's color hehe*/
}

#scoreOntop{
    position: fixed;
    z-index: 10; /*stack order of element, can only be used on positioned elements, this is so its over the content*/
    color: white;
    right: 10px;
    top: 10px;
    margin: 0;
}

